
    /** global **/
    html, body { height: 100%; width: 100%; padding: 0; margin: 0; }

    /** loading **/
    #loading                {
                                height:             100%;
                                width:              100%;
                                background-color:   #357EBD;
                                overflow:           hidden;
                            }
    #loading #top           {
                                height:             40%;
                                width:              100%;
                                overflow:           hidden;
                            }
    #loading #top #title    { 
                                padding:            10%;
                                text-align:         left;
                                opacity:            0;
                            }
    #loading #bar           { 
                                height:             0%;
                                width:              0%;
                                background-color:   green;
                                box-shadow: 0 0 5px #333;
                            }
    #loading #bot           { 
                                height:             45%;
                                width:              100%;
                                overflow:           hidden;
                            }
    #loading #bot #title    { 
                                padding:            0% 40% 10% 10%;
                                text-align:         right;
                            }
    #loading #bot #title a  { 
                                transition:         ease-in 1s;
                            }
    #loading #bot #title a:hover    { 
                                        font-size:          40px;
                                        background-color:   green;
                                        padding:            0 10% 0 10% !important;
                                        box-shadow:         0 0 5px #333;
                                    }

    /** animation(s) **/


        /** animation -- loading -- bar **/

            .loading-bar-animation {
                -webkit-animation: load-bar 10s ease-in;
                        animation: load-bar 10s ease-in;
            }

                @-webkit-keyframes load-bar {
                      0%    {
                                height: 0%;
                                width:  0%;
                                background-color: whitesmoke;
                            }
                     30%    {
                                height: 10%;
                            }
                     90%    {
                                height: 10%;
                            }
                    100%    {
                                height: 0%;
                                background-color: green;
                                width: 100%;
                            }
                }

                @keyframes load-bar {
                      0%    {
                                height: 0%;
                                width:  0%;
                                background-color: whitesmoke;
                            }
                     30%    {
                                height: 10%;
                            }
                     90%    {
                                height: 10%;
                            }
                    100%    {
                                height: 0%;
                                background-color: green;
                                width: 100%;
                            }
                }

        /** end -- animation -- loading -- bar **/


        /** animation -- loading -- bar **/

            .loading-panel-animation {
                -webkit-animation: load-panel 2s ease-in;
                        animation: load-panel 2s ease-in;
            }

                @-webkit-keyframes load-panel, @keyframes load-panel {
                      0%    {   height:     50%;    }
                    100%    {   height:     48%;    }
                }
                @keyframes load-panel {
                      0%    {   height:     50%;    }
                    100%    {   height:     48%;    }
                }

        /** end -- animation -- loading -- bar **/


        /** animation -- loading -- title -- top  **/

            .loading-title-top {
                -webkit-animation: load-title-top 6s ease-in;
                        animation: load-title-top 6s ease-in;
            }

                @-webkit-keyframes load-title-top {
                      0%    {
                                padding:        8% 10% 10% 8%;
                                opacity:        0;
                            }
                     40%    {
                                padding:        10%;
                                opacity:        100;
                            }
                     60%    {
                                padding:        10%;
                                opacity:        100;
                            }
                    100%    {
                                padding:        12% 10% 10% 12%;
                                opacity:        0;
                            }
                }

                @keyframes load-title-top {
                      0%    {
                                padding:        8% 10% 10% 8%;
                                opacity:        0;
                            }
                     40%    {
                                padding:        10%;
                                opacity:        100;
                            }
                     60%    {
                                padding:        10%;
                                opacity:        100;
                            }
                    100%    {
                                padding:        12% 10% 10% 12%;
                                opacity:        0;
                            }
                }

        /** end --  animation -- loading -- title -- top  **/


        /** animation -- loading -- title -- bot  **/

            .loading-title-bot {
                -webkit-animation: load-title-bot 12s ease-in;
                        animation: load-title-bot 12s ease-in;
            }

                @-webkit-keyframes load-title-bot {
                      0%    {
                                opacity:        0;
                            }
                     80%    {
                                opacity:        0;
                                padding:        6% 38% 10% 10%;
                            }
                    100%    {
                                padding:         0% 40% 10% 10%;
                                opacity:        100;
                            }
                }
                @keyframes load-title-bot {
                      0%    {
                                opacity:        0;
                            }
                     80%    {
                                opacity:        0;
                                padding:        6% 38% 10% 10%;
                            }
                    100%    {
                                padding:         0% 40% 10% 10%;
                                opacity:        100;
                            }
                }

        /** end --  animation -- loading -- title -- top  **/

    /** end -- animation(s) **/


    /** class(s) **/

        .text-inset {
          background-color: #565656;
          color: transparent;
          text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
          -webkit-background-clip: text;
             -moz-background-clip: text;
                  background-clip: text;
        }

        .text-heading {
            margin:             40px 0;
            font-size:          40px;
            font-weight:        bold;
            text-decoration:    none;
            color:              white;
            font-family:        "Courier New", Courier, monospace;
            transition:         ease-in 3s;
        }

        .text-heading:hover {
            font-size:          200px;
        }

        .text-heading-sub {
            color:              red;
            text-decoration:    none;
            font-family:        "Courier New", Courier, monospace;
        }

    /** end -- class(s) **/
