/** structure.css **/




    /** globals **/
    html, body { height: 100%; width: 100%; margin: 0; padding: 0; }

    /** font **/
    html, body  { font-family:  "Courier New", Courier, monospace; color: white; }


    /** structure **/

        /** structure -- welcome **/
        #welcome                            { height: 100%; width: 100%; }
        #welcome #spacer                    { height: 20%;   width: 100%; }
        #welcome #links                     { width: 60%;  margin: 0 auto; }
        #welcome #links h1                  { text-align: right; font-size: 40px; }
        #welcome #links h3                  { text-align: right; }
        #welcome #links h3 a                { text-decoration: none; }
        #welcome #links h4                  { text-align: right; font-size: 10px; }

        /** structure -- what **/
        #what                               { height: 100%; width: 100%; }
        #what #spacer                       { height: 2%;   width: 100%; }
        #what #links                        { width: 60%;  margin: 0 auto; }
        #what #links h1                     { text-align: right; font-size: 40px; }
        #what #links h3                     { text-align: right; }
        #what #links h3 a                   { text-decoration: none; }
        #what #information                  { width: 500px;  margin: 450px auto; font-size: 20px; padding: 100px; }
        #what #information p                { padding: 20px; }
        #what #information p a              { text-decoration: none; color: #db291d; }

        /** structure -- why **/
        #why                                { height: 100%; width: 100%; }
        #why #spacer                        { height: 2%;   width: 100%; }
        #why #links                         { width: 60%;  margin: 0 auto; }
        #why #links h1                      { text-align: right; font-size: 40px; }
        #why #links h3                      { text-align: right; }
        #why #links h3 a                    { text-decoration: none; }
        #why #information                   { width: 500px;  margin: 450px auto; font-size: 20px; padding: 100px; }
        #why #information p                 { padding: 20px; }
        #why #information p a               { text-decoration: none; color: #db291d; }

        /** structure -- start **/
        #start                              { height: 100%; width: 100%; }
        #start #spacer                      { height: 20%;   width: 100%; }
        #start #links                       { width: 60%;  margin: 0 auto; }
        #start #links h1                    { text-align: right; font-size: 40px; }
        #start #links h2                    { text-align: right; font-size: 20px; }
        #start #links h3                    { text-align: right; }
        #start #links h3 a                  { text-decoration: none; }

    /** end -- structure **/


    /** classe(s) **/

        /** menu **/
        .menu #links ul                    { width: 100%; list-style-type: none; }
        .menu #links ul li                 { width: 100%; float: left; padding: 20px; transition: 1s; }
        .menu #links ul li a               { text-decoration: none; }
        .menu #links ul li p               { text-decoration: none; transition: 1s; opacity: 0; }
        .menu #links ul li h2              { text-align: left !important; font-size: 24px; }
        .menu #links ul li:hover p.hidden  { opacity: 1; }

        /** class - color(s) **/
        .color-rmit { color: #db291d;   }
        .color-link { color: white;     }

        /** class - background(s) **/
        .bg-body    { background-color: #357EBD;    }
        .bg-title   { background-color: #323232;    }
        .bg-link-1          { background-color: #323232;    }
        .bg-link-1:hover    { background-color: #db291d;    }
        .bg-link-1.selected { background-color: #db291d;    }
        .bg-link-2          { background-color: #323232;    }
        .bg-link-2:hover    { background-color: green;      }

    /** end -- classe(s) **/


    /** animation(s) **/

        .welcome-spacer-animation {
            -webkit-animation: welcome-spacer 2s ease-out;
                    animation: welcome-spacer 2s ease-out;
        }
            @-webkit-keyframes welcome-spacer {
                0%      {
                            height: 200%;
                        }
                100%    {
                            height: 20%;
                        }
            }
            @keyframes welcome-spacer {
                0%      {
                            height: 200%;
                        }
                100%    {
                            height: 20%;
                        }
            }

        .nav-spacer-animation {
            -webkit-animation: nav-spacer 2s ease-out;
                    animation: nav-spacer 2s ease-out;
        }
            @-webkit-keyframes nav-spacer {
                0%      {
                            height: 200%;
                        }
                100%    {
                            height: 2%;
                        }
            }
            @keyframes nav-spacer {
                0%      {
                            height: 200%;
                        }
                100%    {
                            height: 2%;
                        }
            }

    /** end -- antimation(s) **/


/** end -- style.css **/
