

    /** global(s) **/
    html, body { height: 100%; width: 100%; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif;}


    /** structure **/

        /** Generic **/
        #c { height: 100%; width: 100%; padding: 0; margin: 0; overflow: hidden; }
        #c > div { height: 100%; width: 100%; padding: 0; margin: 0; overflow: auto; }
        #c > div #back { height: 5%; width: 100%; text-align: center; overflow: hidden; font-size: 50px; transition: 1s all ease-in-out;}
        #c > div #back i {transition: 1s all ease-in-out;}
        #c > div #back i:hover {color: white;}
        #c > div #content { height: 85%; width: 100%; overflow: hidden; }
        #c > div #forward { height: 10%; width: 100%; text-align: center; overflow: hidden; }
        #c > div #forward i {transition: 1s all ease-in-out; font-size: 300%; padding: 1%;}
        #c > div #forward i:hover {color: white;}

        /** welcome **/
        #c #welcome { overflow: auto !important; }
        #c #welcome #back {height: 0%;}
        #c #welcome #content { height: 100% ; width: 100%; overflow: auto; }
        #c #welcome #content #text { color: white; text-align: center; margin: 10% auto; font-size: 0px; transition: 1s all ease-in-out; }
        #c #welcome #content #text.load { font-size: 60px;}
        #c #welcome #content #text .button {color: white; box-shadow: inset 2px 2px 6px 2px red;}

        /** intro **/
        #c #intro { font-size: 24px; }
        #c #intro #content { overflow: auto; }
        #c #intro #content #welcome { width: 80%; margin: 50px auto; }
        #c #intro #content #welcome h1 { font-size: 60px; text-align: center; }
        #c #intro #content #welcome p  { padding: 5px 20px 5px 20px !important; }
        #c #intro #content #welcome { padding: 0 0 50px 0; }

        /** terminology **/
        #c #terminology {  }
        #c #terminology #content { overflow: auto; }
        #c #terminology #content #terminology { width: 80%; margin: 50px auto; }
        #c #terminology #content #terminology h1 { font-size: 60px; text-align: center; }
        #c #terminology #content #terminology div { padding: 20px !important; }

        /** overview **/
        #c #overview {  }
        #c #overview #content { overflow: auto; }
        #c #overview #content #container { width: 80%; margin: 50px auto; }
        #c #overview #content #container h1 { font-size: 60px; text-align: center; }
        #c #overview #content #container h3 { text-align: center; }
        #c #overview #content #conatiner div { padding: 20px !important; }

        /** start **/
        #c #start {  }
        #c #start #content { overflow: auto; }
        #c #start #content #container { width: 80%; margin: 50px auto; }
        #c #start #content #container #options { margin: 200px auto; }

        /** media **/

            /** media **/
            #c #media {  }
            #c #media #content { overflow: auto; }
            #c #media #content #container { width: 80%; margin: 50px auto; }
            #c #media #content #container #options { margin: 40% auto; }

            /** media - select **/
            #c #media-select {  }
            #c #media-select #content { overflow: auto; }
            #c #media-select #content #container { width: 80%; margin: 50px auto; }
            #c #media-select #content #container #distros { margin: 100px; }
            #c #media-select #content #container #distros ul li a { text-decoration: none; }

            /** media - select - extended **/
            #c #media-select-extended {  }
            #c #media-select-extended #content { overflow: auto; }
            #c #media-select-extended #content #container { width: 80%; margin: 50px auto; }
            #c #media-select-extended #content #container #distros { margin: 100px; }
            #c #media-select-extended #content #container #distros ul li a { text-decoration: none; }

        /** end - media **/

        /** terminal **/

            /** terminal **/
            #c #terminal { color: white; }
            #c #terminal #content { overflow: auto; }
            #c #terminal #content #container { width: 80%; margin: 50px auto; }
            #c #terminal #content #container #options { margin: 40% auto; }
            #c #terminal #content #container #image { margin: 0 auto; text-align: center; }
            #c #terminal #content #container #image img { height: 400px; padding: 100px 0 0 0;  }
            #c video { background-color:white; }

            /** terminal - basics **/
            #c .terminal-page { color: white; }
            #c .terminal-page #content { overflow: auto; }
            #c .terminal-page #content #container { width: 80%; margin: 50px auto; }
            #c .terminal-page #content #container .terminal-video-container { margin: 100px auto; width: 800px !important; }
            #c .terminal-page #content #container .terminal-video-container .terminal-video { width: 800px !important; }
            #c .terminal-page #content #container .terminal-video-container .terminal-video-commands ul { font-size: 24px; list-style-type: none; }
            #c .terminal-page #content #container .terminal-video-container .terminal-video-commands li { display:inline-block; padding: 10px; }
            #c .terminal-page #content #container .terminal-video-container .terminal-video-commands li a { text-decoration: none; color: white; transition: 1s;}
            #c .terminal-page #content #container .terminal-video-container .terminal-video-commands li a:visited   { text-decoration:  line-through;}
            #c .terminal-page #content #container .terminal-video-container .terminal-video-commands li a:hover     { padding: 40px; background-color: white; color: rgb(26, 26, 26); }

        /** end - terminal **/

        /** complete **/
        #c #complete {  }
        #c #complete #content { overflow: auto; }
        #c #complete #content #container { width: 80%; margin: 300px auto; }

    /** end - structure **/


    /** Backgrounds -- colors **/
    .bg-red { background: #ed1b24; }
    .bg-blue { background: #3C96B4; }
    .bg-ms-black { background: rgb(26, 26, 26); }
    .bg-green { background: #80C757; }
    .bg-green-2 { background: #3BAC39; }
    .bg-orange { background: #BF4F40; }
    .bg-purple { background: purple; }
    .bg-white { background: rgb(255, 255, 255); }
    .bg-white-smoke { background: whitesmoke; }
    .bg-off-white { background: #C6ECE9; }
    .bg-yellow { background: yellow; }

        /** Hover **/
        .hover-bg-red:hover { background-color: red; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-red {} 
        .hover-bg-green:hover { background-color:  #80C757; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-green {} 
        .hover-bg-green-2:hover { background-color: #3BAC39; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-green-2 {}
        .hover-bg-blue:hover { background-color: #3C96B4; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-blue {} 
        .hover-bg-off-white:hover { background-color: #C6ECE9; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-off-white {} 
        .hover-bg-yellow:hover { background-color: yellow; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-off-white {} 
        .hover-bg-purple:hover { background-color: purple; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-off-white {} 
        .hover-bg-white-smoke:hover { background-color: whitesmoke; box-shadow: inset 0px 0px 4px 0 black; } .hover-bg-white-smoke {} 

    /** Buttons **/
    .button { cursor: pointer; cursor: hand; }
    .button-1 { font-size: 24px; padding: 1% 2% 1% 2%; transition: 0.5s all ease-in-out; }
    .button-2 { font-size: 24px; padding: 1% 2% 1% 2%; transition: 0.5s all ease-in-out; }

    /** Colors **/
    .color-black { color: black }
    .color-green-2 { color: #3BAC39 }
    .color-white { color: white; }
    .color-ms-blue { color: rgb(0, 114, 198); }
    .color-apple-grey { color: rgb(51, 51, 51); }
    .color-not-sure { color: #D7E7B6; }

    /** Hide **/
    .hidden-x { height: 100% !important; width: 0 !important; }
    .hidden-y { height: 0 !important; width: 100% !important; }
    .hidden { height: 0 !important; width: 0 !important; display: none;}
    .text-hide { font-size: 0 !important; }

    /** Show **/
    .show { height: 100% !important; width: 100% !important; }

    /** Transitions **/
    .transition-5  { transition: 0.5s all ease-in-out; }
    .transition-10 { transition: 1.0s all ease-in-out; }

    /** Background -- images **/
    .background-rmit-live { 
        background: url(../images/rmit-live.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .background-html5 { 
        background: url(../images/html5.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
